
/* body font is Montserrat */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-align: center;
    }

/* headers 1 and 2 are bad script in declining sizes, h2 montserrat */
h1 {
    font-family: 'League Script', cursive;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    margin: 0;
    }

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin: 0;
    }

h3 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-align: left;
    color: red;
    }

/* headers 4 -6 are Montserrat */
h5 {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin: 2;
    }

h4, h6 {
    font-family: 'Montserrat', sans-serif;
    margin: 2;
    }

/* Paragraph set margin = 0 to avoid white space */
p {
    text-align: left;
    margin: 0;  
    }

.row {
    margin-top: 10;
    margin-bottom: 10;
}
/* Navbar Styles */
/* Resize the chicago flag image */
.navbar-brand img {
    width: 45px;
    height: 40px;
}
    
/* Jumbotron Sytles */
.jumbotron {
/* Background */
    background-attachment: fixed;
    background-image: url(chicago-map-bw.jpg);
    background-repeat: no-repeat;
    background-size: cover;
/* Fonts */
    color: red;
}

/* Carousel Sytles */
.carousel-caption {
    position: absolute;
    top:-5px
    }

/* Table Styles for home page */
    table.center {
    widows: 30px;%; 
    margin-left:35%; 
    margin-right:35%;
    margin-top: 2%;
    margin-bottom: 2%
    }

/* Button */
.btn-info {
    color: white;
    background-color: red;
    border-color:red;
    }

/*Footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: rgb(243, 243, 243);
    text-align: center;
    margin: 0;
    font-family: 'League Script', cursive;
    font-weight: bold;
    font-size: 18px;
    color: red;
}




